div{
    width: 100px;
    height: 100px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 20px 20px 20px;
    border: 2px solid black;
}
body{
    display: flex;
    justify-content: center;
}